@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #1e1e20;
  /* display: grid; */
  /* grid-template-rows: auto 1fr; */
  min-height: 100vh;
  /* height: 100%; */
  margin: 0;
}

body {
  font-family: "Gabarito", sans-serif;
  color: #e0e0e0;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

label,
input {
  display: block;
}
@layer base {
  @font-face {
    font-family: "gabarito";
    src: url("/fonts/Gabarito-Regular") format("truetype");
  }
}

@layer utilities {
  .container {
    @apply px-4 py-2;
  }
}
